.team__element {
  flex: 0 1 25%;
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .team__element {
    flex: 0 1 50%;
    margin-bottom: 40px;
  }
}
@media (max-width: 430px) {
  .team__element {
    flex: 0 1 100%;
    margin-bottom: 40px;
  }
}